html {
  background-color: blue;
}

body {
  background-color: rgb(99, 99, 252);
  margin: 200px;
  margin-top: 0%;
}

a {
  color: orange;
}

img {
  width: 500px;
}

h3 {
  font-size: 22px;
}

h1 {
  font-size: 46px;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(99, 99, 252);
  padding: 5px;
  color: orange;
}

.toplinks {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
}

.topflex {
  display: flex;
  background-color: orange;
  justify-content: space-around;
  color: blue;
  padding: 10px;
}

.dino-pic {
  height: 300px;
}

.about {
  font-size: 24px;
}