body {
  background-color: blueviolet;
  margin: 0px;

}

img {
  width: 500px;
}

h3 {
  font-size: 22px;
}

h1 {
  font-size: 46px;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(99, 99, 252);
  padding: 5px;
}

.toplinks {
  display: flex;
  align-items: center;
  gap: 10px;
}

.topflex {
  display: flex;
}

.dino-pic {
  width: 300px;
}

.about {
  font-size: 24px;
}